/*.table-view .column-header,
.table-view .column-header-background .filler {
    -fx-background-color:  #005778; 
}
.table-view .column-header .label{
   -fx-text-fill: white;
   -fx-font-weight: bold; 
   -fx-alignment: CENTER;
}
.table-view .cell{
   -fx-cell-size: 30;
  -fx-alignment:center;
  font-family: Roboto-Bold;
    src: url('Roboto-Bold.ttf');

    -fx-background-color: #C0DFFE;
  -fx-border-color: #29292D;
  -fx-text-fill: black;
  
 
   
}
.table-row-cell:hover {
   -fx-background-color: black; 
   -fx-text-background-color:  #6622CC;
   
   .HeaderPane{
       -fx-background-color: #C0DFFE;
   }
}*/
/*
 * Empty Stylesheet file.
 */

.table-view{
    -fx-background-color: rgb(164, 167, 200);
    -fx-background-radius: 30; 
    -fx-fill: white;
}
.table-view .column-header-background{
/*    -fx-background-color: rgb(83,65,65);*/
      -fx-background-color: rgb(0, 87, 120);

     -fx-background-radius: 30;
     -fx-background-insets: 0 0 10 0;
     -fx-padding: 0 0 10 0;
     -fx-effect: dropshadow(two-pass-box, rgb(10,101,107),15,0.0,0.1,1);
}
.table-view .column-header, .table-view .filler{
    -fx-size: 40;
    -fx-border-width: 0 0 10 0;
     -fx-background-color: transparent;
}
.table-view .column-header .label{
    -fx-text-fill:white;
}
.table-row-cell:hover {
   -fx-background-color: rgb(192, 223, 254); 
   -fx-text-background-color:  #6622CC;
}
  .button{
   -fx-background-radius:30px;
   -fx-background-color: #005778;
   
   
    
}
